:root {
  --dark-background-color: #1c1c1c;
  --dark-background-container: #222222;
  --dark-font-color: #f0f0f0;
  --light-background-color: #f0f0f0;
  --light-background-container: #ffffff;
  --light-font-color: #333;
}

body.light,
body.light .theme-button,
body.light .language-button {
  background-color: var(--light-background-color);
  color: var(--light-font-color);
}

body.dark,
body.dark .theme-button,
body.dark .language-button {
  background-color: var(--dark-background-color);
  color: var(--dark-font-color);
}
body.light .certificate-link,
body.light .toggle-button {
  color: var(--light-font-color);
}
body.dark .certificate-link,
body.dark .toggle-button {
  color: var(--dark-font-color);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 69px;
  }
}

.loading-text {
  padding-left: 20px;
  display: inline-block;
  overflow: hidden; /* Ukrywa niepotrzebne części tekstu */
  white-space: nowrap; /* Zapobiega łamaniu wierszy */
  /* border-right: 3px solid; Styl kursora */
  font-family: monospace; /* Monospace dla efektu pisania */
  /* font-size: 24px; */
  width: 0; /* Początkowa szerokość tekstu (całkowicie ukryta) */
  animation: typing 2s steps(10, end) forwards; /* Animacja odsłaniania tekstu */
}

.theme-button,
.language-button {
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

body.dark .container {
  background-color: var(--dark-background-container);
}

body.light .container {
  background-color: var(--light-background-container);
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 10px auto 0 auto;
}

.aside {
  max-width: 370px;
  background-color: #1e2939;
}

.skills,
.contact {
  color: var(--dark-font-color);
  padding-left: 20px;
}

.contact-links {
  color: var(--dark-font-color);
  text-decoration: none;
}

.main {
  max-width: 650px;
  padding: 30px;
  margin-left: 40px;
}

.header,
.footer {
  text-align: center;
  padding: 20px, 20px, 0, 20px;
  border-bottom: 2px solid #ddd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.switchers {
  display: flex;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  padding: 10px;
}

.footer {
  border-top: 2px solid #ddd;
  border-bottom: none;
}

section {
  margin: 20px 0 0 0;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 2.5em;
}

h3,
p,
ul {
  line-height: 1.3;
  margin: 2px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.photo-of-me,
.qrqode {
  width: 370px;
  max-height: 300px;
  object-fit: cover;
  object-position: top;
  padding: 20px 0;
  background-color: #1e2939;
}
.photo-of-me:hover {
  max-height: 690px;
  transition: max-height 1s ease;
}
.qrqode-small {
  width: 145px;
  position: absolute;
  right: 0%;
}

.qrqode,
.qrqode-small {
  display: none;
}

.years {
  color: grey;
  font-size: small;
  font-weight: 100;
  margin-left: 10px;
}

.education-item {
  position: relative;
  list-style-type: none; /* Usuwa domyślne kropki */
  margin: 10px 0;
}

.certificate-preview-link .certificate-preview {
  transition: max-height 1s ease 0.5s, opacity 1s ease 0.3s, width 1s ease 0.7s;
  opacity: 0;
  max-height: 0;
  position: absolute;
  top: -30%;
  left: 100%;
  width: 0px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

body.dark .certificate-preview-link .certificate-preview {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.course-title:hover + .certificate-preview-link .certificate-preview,
.certificate-preview-link .certificate-preview:hover {
  opacity: 1;
  max-height: 200px;
  width: 250px;
  transition: max-height 1s ease, opacity 1s ease, width 1s ease;
}

.course-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 450px;
}

/* Podstawowa animacja rozwijania/zwijania */
.education-details {
  overflow: hidden;
  margin-left: 30px; /* Wcięcie dla rozwiniętej sekcji */
  max-height: 0; /* Początkowo element jest zwinięty */
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
}

/* Klasa dla rozwiniętego elementu */
.education-details.expanded {
  max-height: 500px; /* Wartość większa niż maksymalna wysokość rozwiniętego elementu */
  opacity: 1;
}

/* Klasa dla zwiniętego elementu */
.education-details.collapsed {
  max-height: 0;
  opacity: 0;
}

.course-container {
  display: flex;
  align-items: center;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.toggle-button:focus {
  outline: none; /* Usuwa ramkę focus dla przycisku */
}

.button-nonclick {
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  cursor: default;
}

.description {
  white-space: pre-wrap;
}

.lists {
  position: relative;
}

.dots {
  position: absolute;
  right: 25%;
  transform: translate(0, -5px);
  display: inline-block;
  margin-left: 5px;
}

.dot {
  color: black;
  font-size: 20px;
}

.dot.filled {
  color: lightgray;
}

.github-logo {
  width: 19px;
  margin-left: 20px;
}
